<?xml version="1.0" encoding="utf-8"?>

<configuration>
	<configSections>
		<sectionGroup name="userSettings"
		              type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="Task.Properties.Settings"
			         type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
			         allowExeDefinition="MachineToLocalUser" requirePermission="false" />
		</sectionGroup>
		<sectionGroup name="applicationSettings"
		              type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="Task.Properties.Settings"
			         type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
			         requirePermission="false" />
		</sectionGroup>
	</configSections>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
	</startup>
	<userSettings>
		<Task.Properties.Settings>
			<setting name="Age" serializeAs="String">
				<value />
			</setting>
			<setting name="Occupation" serializeAs="String">
				<value />
			</setting>
			<setting name="Name" serializeAs="String">
				<value />
			</setting>
			<setting name="IsKnown" serializeAs="String">
				<value />
			</setting>
		</Task.Properties.Settings>
	</userSettings>
	<applicationSettings>
		<Task.Properties.Settings>
			<setting name="GetOccupation" serializeAs="String">
				<value>Enter your occupation:</value>
			</setting>
			<setting name="GetName" serializeAs="String">
				<value>Enter your name:</value>
			</setting>
			<setting name="GetAge" serializeAs="String">
				<value>Enter your age:</value>
			</setting>
			<setting name="GreetingsUnknow" serializeAs="String">
				<value>Hello my friend! Let's get acquainted!</value>
			</setting>
			<setting name="Greetings" serializeAs="String">
				<value>Hello</value>
			</setting>
		</Task.Properties.Settings>
	</applicationSettings>
</configuration>